/* 
 * 'Classic' theme variant
 * The original colour configuration of the style
 */

// Primary Colours
$primary-background: #eee;
$primary-foreground: #222;

// Nickname Colour Options
$nick-saturation: 58%;
$nick-luminance: 43%;

// The nick colour chosen for the user; in this case, a nice purple.
$myself-nick-colour: 24;
