/* 'self' needs to be more specific, so we preix with `div` */
div.line[ltype*='myself'] .sender,
div.line[mtype*='myself'] .sender {
	color: hsl(270, 50%, 57%); 
}

.line[nick-color-number='0'] .sender,
.inline_nickname[nick-color-number='0'] {
	color: hsl(67.5, 50%, 57%);
}

.line[nick-color-number='1'] .sender,
.inline_nickname[nick-color-number='1'] {
	color: hsl(180, 50%, 57%);
}

.line[nick-color-number='2'] .sender,
.inline_nickname[nick-color-number='2'] {
	color: hsl(101.25, 50%, 57%);
}

.line[nick-color-number='3'] .sender,
.inline_nickname[nick-color-number='3'] {
	color: hsl(45, 50%, 57%);
}

.line[nick-color-number='4'] .sender,
.inline_nickname[nick-color-number='4'] {
	color: hsl(281.25, 50%, 57%);
}

.line[nick-color-number='5'] .sender,
.inline_nickname[nick-color-number='5'] {
	color: hsl(33.75, 50%, 57%); 
}

.line[nick-color-number='6'] .sender,
.inline_nickname[nick-color-number='6'] {
	color: hsl(213.75, 50%, 57%); 
}

.line[nick-color-number='7'] .sender,
.inline_nickname[nick-color-number='7'] {
	color: hsl(112.5, 50%, 57%); 
}

.line[nick-color-number='8'] .sender,
.inline_nickname[nick-color-number='8'] {
	color: hsl(56.25, 50%, 57%); 
}

.line[nick-color-number='9'] .sender,
.inline_nickname[nick-color-number='9'] {
	color: hsl(258.75, 50%, 57%); 
}

.line[nick-color-number='10'] .sender,
.inline_nickname[nick-color-number='10'] {
	color: hsl(337.5, 50%, 57%); 
}

.line[nick-color-number='11'] .sender,
.inline_nickname[nick-color-number='11'] {
	color: hsl(123.75, 50%, 57%); 
}

.line[nick-color-number='12'] .sender,
.inline_nickname[nick-color-number='12'] {
	color: hsl(135, 50%, 57%); 
}

.line[nick-color-number='13'] .sender,
.inline_nickname[nick-color-number='13'] {
	color: hsl(11.25, 50%, 57%); 
}

.line[nick-color-number='14'] .sender,
.inline_nickname[nick-color-number='14'] {
	color: hsl(292.5, 50%, 57%); 
}

.line[nick-color-number='15'] .sender,
.inline_nickname[nick-color-number='15'] {
	color: hsl(247.5, 50%, 57%); 
}

.line[nick-color-number='16'] .sender,
.inline_nickname[nick-color-number='16'] { 
	color: hsl(225, 50%, 57%);
}

.line[nick-color-number='17'] .sender,
.inline_nickname[nick-color-number='17'] { 
	color: hsl(303.75, 50%, 57%);
}

.line[nick-color-number='18'] .sender,
.inline_nickname[nick-color-number='18'] { 
	color: hsl(146.25, 50%, 57%);
}

.line[nick-color-number='19'] .sender,
.inline_nickname[nick-color-number='19'] { 
	color: hsl(168.75, 50%, 57%);
}

.line[nick-color-number='20'] .sender,
.inline_nickname[nick-color-number='20'] { 
	color: hsl(236.25, 50%, 57%);
}

.line[nick-color-number='21'] .sender,
.inline_nickname[nick-color-number='21'] { 
	color: hsl(315, 50%, 57%);
}

.line[nick-color-number='22'] .sender,
.inline_nickname[nick-color-number='22'] { 
	color: hsl(22.5, 50%, 57%);
}

.line[nick-color-number='23'] .sender,
.inline_nickname[nick-color-number='23'] { 
	color: hsl(157.5, 50%, 57%);
}

.line[nick-color-number='24'] .sender,
.inline_nickname[nick-color-number='24'] { 
	color: hsl(78.75, 50%, 57%);
}

.line[nick-color-number='25'] .sender,
.inline_nickname[nick-color-number='25'] { 
	color: hsl(191.25, 50%, 57%);
}

.line[nick-color-number='26'] .sender,
.inline_nickname[nick-color-number='26'] { 
	color: hsl(90, 50%, 57%);
}

.line[nick-color-number='27'] .sender,
.inline_nickname[nick-color-number='27'] { 
	color: hsl(0, 50%, 57%);
}

.line[nick-color-number='28'] .sender,
.inline_nickname[nick-color-number='28'] { 
	color: hsl(202.5, 50%, 57%);
}

.line[nick-color-number='29'] .sender,
.inline_nickname[nick-color-number='29'] { 
	color: hsl(348.75, 50%, 57%);
}

.line[nick-color-number='30'] .sender,
.inline_nickname[nick-color-number='30'] { 
	color: hsl(326.25, 50%, 57%);
}