// Nickname Colours

$loop-nick-number: 0;
@while $loop-nick-number <= 31 {

	@if $loop-nick-number < $myself-nick-colour {

		.sender[colornumber='#{$loop-nick-number}'],
		.inline_nickname[colornumber='#{$loop-nick-number}'] {
			color: hsl(360 / 32 * $loop-nick-number, $nick-saturation, $nick-luminance);
		}

	} @else if $loop-nick-number == $myself-nick-colour {

		.sender {

			&[ltype*='myself'],
			&[mtype*='myself'] {
				color: hsl(360 / 32 * $loop-nick-number, $nick-saturation, $nick-luminance); 
			}
		}

	} @else {

		.sender[colornumber='#{$loop-nick-number - 1}'],
		.inline_nickname[colornumber='#{$loop-nick-number - 1}'] {
			color: hsl(360 / 32 * $loop-nick-number, $nick-saturation, $nick-luminance);
		}

	}

	$loop-nick-number: $loop-nick-number + 1;

}