body.show-preferences {
  overflow: hidden;
  pointer-events: none;
}

#show_preferences {
  position: fixed;
  top: 0;
  right: 0;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: transparent;
  color: #4b7fd4;
  font-family: inherit;
  font-size: 1.2em;
  line-height: 2em;
  margin: 0;
  padding: 0 .4em;
  opacity: 0;
  -webkit-transition: opacity $transition-time ease-in-out;
  transition: opacity $transition-time ease-in-out;
  z-index: 20;
  text-shadow: .15em .15em 0 $primary-background,
    .15em 0 0 $primary-background,
    .15em -.15em 0 $primary-background,
    0 -.15em 0 $primary-background,
    -.15em -.15em 0 $primary-background,
    -.15em 0 0 $primary-background,
    -.15em .15em 0 $primary-background,
    0 .15em 0 $primary-background;

  body:hover & {
    opacity: 1;
  }
}

#preferences {
  position: fixed;
  font-size: 13px;
  font-family: system, -apple-system, '.SFNSDisplay-Regular';
  top: -100%;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: top $transition-time * 2 linear;
  transition: top $transition-time * 2 linear;
  @include flex();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

  [systemversion^="10.7"] &,
  [systemversion^="10.8"] &,
  [systemversion^="10.9"] & {
    font-family: 'Lucida Grande';
  }

  [systemversion^="10.10"] & {
    font-family: system, -apple-system, 'Helvetica Neue';
  }

  body.show-preferences & {
    top: 0;
    pointer-events: all;
  }

  .box {
    margin: 0 auto;
    color: black;
    background-color: #eeeeee;
    max-width: 720px;
    padding: 15px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);

    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      right: 0;
      height: 1px;
      box-shadow: 0 5px 6px rgba(0,0,0,0.7);
    }

    .checkboxes {
      label {
        display: block;

        input[type="checkbox"] {
          width: 14px;
          height: 14px;
        }
      }
    }

    button {
      font-size: 13px;
      padding-left: 10px;
      padding-right: 10px;
      float: right;
    }
  }
}