<div id="line-{{lineNumber}}" time="{{lineRenderTime}}" class="line {{lineType}} {{lineClassAttributeRepresentation}}" ltype="{{lineType}}" mtype="{{nicknameType}}" command="{{rawCommand}}">
	<span class="time">{{formattedTimestamp}}</span>
	<span class="message">
		{{{formattedMessage}}}
	</span>
</div>