/* 
 * 'Nox' theme variant
 * A dark colour configuration
 */

// Primary Colours
$primary-background: #222;
$primary-foreground: #eee;

// Nickname Colour Options
$nick-saturation: 50%;
$nick-luminance: 57%;

// The nick colour chosen for the user; in this case, a nice purple.
$myself-nick-colour: 24;
